*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    font-family: Okra, Helvetica, sans-serif;
}
.container{
    width: 83%;
    margin: auto;
}
.header{
    position: relative;
}
.img{
    width: 1447px;
    max-height: 422px;
    position: relative;
    object-fit: cover;
    transform: scale(1.1);
    overflow: hidden;
}
.header-body-section{
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
}
.nav{
    font-weight: 550;
    height: 50px;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container p{
    padding: 5px;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav li{
    padding: 0px  3px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 100;
}
.nav ul li a{
    color: inherit;
    text-decoration: none;
}
.zomato-logo{
    width: 300px;
}
.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;
}
.header-body-container{
    position: relative;
    top: -430px;
}
.discover{
    font-size: 40px;
    margin: 25px 0px;
    color: #fff;
}
.search{
    background-color: #fff;
    width: 100%;
    height: 55px;
    max-width: 760px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    color: #000;
}
.detect-location{
    margin-bottom: 10px;
}
.detect-location input{
    border: none;
    font-size: 15px;
}
.location-map{
    color: rgb(230, 139, 139);
    font-size: 28px;
    margin-right: 25px;
    
    
}
.caret-up{
    color: #000;
    margin: 10px
}
.search-item{
    color: black;
    font-size: 18px;
}
.line{
   padding: 7px;
}
.search-item input{
    max-width: 100%;
    width: 285px;
    font-size: 15px;
    border: none;
    outline: none;
}
.section-1{
    margin-top: 40px;

}
.container-feature{
    display: flex;
    justify-content: space-between;
    padding-right: 106px;
    padding-left: 106px;
    margin-top: -380px;
}
.feature-image{
    width: 500px;
    height: 200px;
    overflow: hidden;
    
}
.feature-image img{
    width: 100%;
    
}
.feature{
    overflow: hidden;
    border-radius: 20px;
    float: left;
}
.collection{
    margin-left: 239px;
    margin-top: 60px;
    font-family: Okra, Helvetica, sans-serif;
}
.para1{
    margin-top: -20px;
}
.para2{
    margin-left: 878px;
    margin-top: -27px;
    color: red;
}
.collection-imgs img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
    display: flex;
    
   
}
.collection-imgs{
    float: left;
    border-radius: 10px;
   
}
.collection-img-full{
    margin-left: 240px;
    
}
.para3{
    margin-top: -60px;
    padding-top: 10px;
    color: #fff;
    margin-left: 54px;
    display: flex;
}
.para4{
    margin-bottom: 15px;
    color: #fff;
    margin-top: -17px;
    margin-left: 53px;
    display: flex;
}
.popular{
    float: left;
    font-size: 28px;
    font-weight: 300;
    color: rgb(54, 54, 54);
    margin-top: 366px;
    margin-left: -1000px;
}
.section3{
    display: flex;
    align-items: center;
}
.locality-list{
  justify-content: space-between;
    display: flex;
    max-width: 325px;
    align-items: center;
    border: 1px solid;
    border-color: #ccc;
    padding: 5px 15px;
    height: 68px;
    border-radius: 10px;
    margin-left: 130px

}
.locality-list h3{
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
}
.locality-list p{
    font-size: 16px;
    margin-bottom: 8px;
    justify-self: flex-end;
    
}
.locality-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 250px;
    margin: 10px;

}
.all{
    display: flex;
    justify-content: space-evenly;
    margin-right: 128px;
    margin-left: 100px;
} 
.section-4{
    
   width: 100%;
   background-color:rgb(255, 251, 247);
   height: 385px;
   margin-top: 100px;

}
.section-4-main-div{
    display: flex;
    justify-content: center;
}
.section-4-img img{
    width: 269px;
    padding-top: 52px;
}

.email-phone{
    display: flex;
    color: rgb(130, 130, 130);
    
}
.email-phone p{
   margin-top: 17px;
   padding-right: 25px;
}
.email-submit input{
    height: 38px;
    width: 257px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(130, 130, 130);
    

}
.email-submit button{
    height: 37px;
    width: 103px;
    border-radius: 5px;
    border-color: red;
    background-color: red;
    color: #fff;
}
.download{
    margin-top: 40px;
    color: rgb(156, 156, 156);
}
.download-img{
    display: flex;
    justify-content: space-around;
    height: 45px;
}
.download-img img{
    margin-left: -55px;
    padding-right: 41px;
}
.section-5{
    width: 100%;
    height: 500px;
    

}
.explore h1{
    margin: 33px 270px 1rem;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 200;
}
.list-card{
    justify-content: space-between;
    display: flex;
    width: 700px;
    height: 50px;
    margin-left: 270px;
    padding-left: 20px;
    border-radius: 7px;
    border: 1px solid;
    border-color: rgb(232, 232, 232);;
  

}
.list{
    display: flex;
}
.list i{
    margin-top: 17px;
    margin-left: -30px;
}
.list-card p{
    color: rgb(28, 28, 28);
}
.footer{
    width:100%;
    height: 400px;
    background-color: rgb(248, 248, 248);;
    color: black;
}
.footer-logo{
    margin-left: 300px;
}
.footer-logo img{
    height: 30px;
    margin-top: 80px;

}
.footer-table-1{
    width: 150px;
    margin-left: 10px;

}
.footer-table{
    display: flex;
    margin-left: 294px;
    margin-top: 13px;
}
.app img{
    width: 100px;
}